<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Add Product</title>
    </head>
    <body>
        <form methor="POST" model="product">
            <p><i>{errorExistCode}</i></p>
            <label>Product Code:</label>
            <input type="text" name="code" ><br>
            <label>Product Description</label>
            <input type="text" name="description" ><br>
            <label>Product Price</label>
            <input type="text" name="cost" ><br>
            <input type="submit" value="Add Product">&nbsp;&nbsp;&nbsp;
            <input type="submit" value="View Product">
        </form >
        
    </body>
</html>