<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>JSP Page</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this product</h1>
        <form method = "Delete" action = "@{/products}" th:each = "product : ${products}">
            <label for = "code">Product Code: </label>
            <span th:text="${product.code}"></span><br>
            <input type="hidden" value="${product.code}" name="code">
            <label for = "desc">Product Description: </label>
            <span th:text="${product.description}"></span><br>
            <label for = "price">Product Price:</label>
            <span th:text = "${product.price}"></span><br>
            <input type="submit" value="Yes" name="btn">
            <input type="submit" value="No" name="btn">
        </form>
    </body>
</html>
