<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Product Maintenance - All products</title>
	</head>
	
	<body>
		<h1>Products</h1>
		<table border="1" cellpadding="5">
		    <tr>
				<th>Code</th>
				<th>Description</th>
				<th>Price</th>
		    </tr>
		    
			<tr th:each="product : ${products}">
			    <th>${product.code}</th>
			    <th>${product.description}</th>
			    <th>${product.price}</th>
			    <th><a>Edit</a></th>
			    <th><a>Delete</a></th>
			</tr>
		</table>
	
		<a>Add Product</a>
	</body>
</html>