<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Product Maintenance - All products</title>
		<style>
		   table,th,td{
			  border : 1px solid black;
			  border-collapse: collapse;
		   }
		</style>
	</head>
	
	<body>
		<h1>Products</h1>
		<table>
		    <tr>
				<th>Code</th>
				<th>Description</th>
				<th>Price</th>
				<th></th>
				<th></th>
		    </tr>
		    
			<tr th:each="product : ${products}">
			    <td th:text="${product.code}"></td>
			    <td th:text="${product.description}"></td>
			    <td th:text="${product.price}"></td>
			    <td>
			       <a href="#">Edit</a>
			    </td>
			    <td>
			       <a href = "#">Delete</a>
			    </td>
			</tr>
		</table>
	
		<a href="#">Add Product</a>
	</body>
</html>